<div id="footer">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Submit List", "SubmitList", "Home")</li>
        <li>@Html.ActionLink("Top Viewed", "TopViewed", "Home")</li>
        <li>@Html.ActionLink("Top Rate", "TopRate", "Home")</li>
    </ul>
    <p>Copyright &copy;. 2016 Desing Website. All rights reserved. Developed by <a href="#" target="_blank" title="#">SSL</a></p>
</div>