<div id="header">
    <a href="#" id="logo">
        <img src="@Url.Content("~/Content/themes/images/spacer.gif")" alt="" width="360" height="90" />
    </a>
    <div class="search">
        <span>Search</span>
        <input type="text" /><a href="#"><img src="@Url.Content("~/Content/themes/images/go.jpg")" alt="setalpm" width="72" height="28" /></a>
    </div>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "but1_active" })</li>
        <li>@Html.ActionLink("Submit List", "SubmitList", "Home", null, new { @class = "but2" })</li>
        <li>@Html.ActionLink("Top Viewed", "TopViewed", "Home", null, new { @class = "but3" })</li>
        <li>@Html.ActionLink("Top Rate", "TopRate", "Home", null, new { @class = "but4" })</li>
    </ul>
    <div class="logo">Business directory is a complete directory service which will help you to find out the best resource online. You will get all the links you need. Also you can  submit your weblinks too.</div>
    <div class="rss"><a href="#"><img src="@Url.Content("~/Content/themes/images/spacer.gif")" alt="" width="27" height="62" /></a></div>
    <span class="text">Products and Services</span>
</div>