<!DOCTYPE PUBLIC "-//W3C//DTD.php 4.01 Transitional//EN" "http://www.w3.org/TR.php4/loose.dtd">
<html>
<head>
    <title>Business Directory</title>
    <meta http-equiv="Content-Type" content="charset=iso-8859-1">
    <link href="~/Content/themes/style.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div id="site">
        <div id="wrapper">
            @Html.Partial("_header")
            <div id="content">
                @RenderBody()
            </div>
            @Html.Partial("_footer")
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
