@model directory21.Web.ViewModels.HomeViewModel
@*@using directory21.Web.Infrastructure
    @model List<directory21.Core.Domain.Resources>

    @{
        ViewBag.Title = "Index";
    }

    @Html.ListView("Resources", "sidebar", Model)
    @Html.ListView("Categories", "main", Model)*@
@{
    ViewBag.Title = "Home";
    var i = 0;
}
<div id="sidebar">
    <h4>Resources</h4>
    <ul>
        @foreach (var item in Model.ResourcesList)
        {
            <li><a href="#">@item.ResourceName</a></li>
        }
    </ul>
    <a href="#" class="more">more resourses</a><br />
</div>
<div id="main">
    <h4>Categories</h4>

    @foreach (var item in Model.CategoriesList)
    {
        i += 1;
        var width = "width1";
        if (i == 2 || i == 5 || i == 8)
        {
            width = "width2";
        }

        <div class="block @width">
            <a href="#" class="title">@item.CategotyName (@item.Items.Count)</a>
            @{
                var catItems = item.Items.Take(5);
            }
            <ul>
                @foreach (var cItem in catItems)
                {
                    <li>&raquo; <a href="#">@cItem.ItemName</a></li>
                }

            </ul>
        </div>
    }

    <h4 class="pad15">About Directory</h4>
    <p>
        Business directory is a complete directory service which will help you to find out the best resource online. You will get all the links you need. Also you can submit your weblinks too.
    </p>
</div>