@model directory21.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
    var i = 0;
}
<div id="sidebar">
    <h4>Resources</h4>
    <ul>
        @foreach (var item in Model.ResourcesList)
        {
            <li><a href="#">@item.ResourceName</a></li>
        }
    </ul>
    <a href="#" class="more">more resourses</a><br />
</div>
<div id="main">
    <h4>Categories</h4>

    @foreach (var item in Model.CategoriesList)
    {
        switch (i % 3)
        {
            case 0:
                {
                    <div class="block width1">
                        <a href="#" class="title">@item.CategotyName (@item.Items.Count)</a>
                        @{
                            var catItems = item.Items.Take(5);
                        }
                        <ul>
                            @foreach (var cItem in catItems)
                            {
                                <li>&raquo; <a href="#">@cItem.ItemName</a></li>
                            }

                        </ul>
                    </div>
                    break;
                }
            case 1:
                {
                    <div class="block width2">
                        <a href="#" class="title">@item.CategotyName (@item.Items.Count)</a>
                        @{
                            var catItems = item.Items.Take(5);
                        }
                        <ul>
                            @foreach (var cItem in catItems)
                            {
                                <li>&raquo; <a href="#">@cItem.ItemName</a></li>
                            }

                        </ul>
                    </div>
                    break;
                }
            case 2:
                {
                    <div class="block width1">
                        <a href="#" class="title">@item.CategotyName (@item.Items.Count)</a>
                        @{
                            var catItems = item.Items.Take(5);
                        }
                        <ul>
                            @foreach (var cItem in catItems)
                            {
                                <li>&raquo; <a href="#">@cItem.ItemName</a></li>
                            }

                        </ul>
                    </div>
                    break;
                }
            default:
                break;
        }
        i = i + 1;
    }

    <h4 class="pad15">About Directory</h4>
    <p>
        Business directory is a complete directory service which will help you to find out the best resource online. You will get all the links you need. Also you can submit your weblinks too.
    </p>
</div>