@model IEnumerable<directory21.Core.Domain.Resources>

    @{
        ViewBag.Title = "Index";
    }

    @foreach (var item in Model)
    {
        int dat = 0;
        switch (dat)
        {
            case 0:
                <div class="block width1">
                    <a href="@Url.Action("Index","Resource",new {id=item.Id})" class="title">@Html.DisplayFor(modelItem => item.ResourceName) (@Html.DisplayFor(modelItem => item.Categories.Count))</a>
                    <ul>
                        @foreach (var c in item.Categories.Take(5))
                        {
                            <li>&raquo; @Html.ActionLink(c.CategotyName, "Index", "Category", new { id = c.Id }, null)</li>
                        }
                    </ul>
                </div>
                dat = 1;
                break;
            case 1:
                <div class="block width2">
                    <a href="@Url.Action("Index","Resource",new {id=item.Id})" class="title">@Html.DisplayFor(modelItem => item.ResourceName) (@Html.DisplayFor(modelItem => item.Categories.Count))</a>
                    <ul>
                        @foreach (var c in item.Categories.Take(5))
                        {
                            <li>&raquo; @Html.ActionLink(c.CategotyName, "Index", "Category", new { id = c.Id }, null)</li>
                        }
                    </ul>
                </div>
                dat = 2;
                break;
            case 2:
                <div class="block width3">
                    <a href="@Url.Action("Index","Resource",new {id=item.Id})" class="title">@Html.DisplayFor(modelItem => item.ResourceName) (@Html.DisplayFor(modelItem => item.Categories.Count))</a>
                    <ul>
                        @foreach (var c in item.Categories.Take(5))
                        {
                            <li>&raquo; @Html.ActionLink(c.CategotyName, "Index", "Category", new { id = c.Id }, null)</li>
                        }
                    </ul>
                </div>
                dat = 3;
                break;
            case 3:
                <div class="block width4">
                    <a href="@Url.Action("Index","Resource",new {id=item.Id})" class="title">@Html.DisplayFor(modelItem => item.ResourceName) (@Html.DisplayFor(modelItem => item.Categories.Count))</a>
                    <ul>
                        @foreach (var c in item.Categories.Take(5))
                        {
                            <li>&raquo; @Html.ActionLink(c.CategotyName, "Index", "Category", new { id = c.Id }, null)</li>
                        }
                    </ul>
                </div>
                dat = 0;
                break;
        }
    }
